<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/forget-password.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="login-image">
    <div class="login-illusconatiner">
      <h3 style="color:white">Doesn't Remember Your Password</h3>
      <br>
      <br>
      <img id="loginillus" src="/images/undraw_secure_login_pdn4.svg" alt="">
    </div>
    <div class="container">
      <div class="login-page">
      <h2 style="color: white;font-size: 34px;">Reset your Password</h2>
      <br>
      <h3 style="color:#FFFFF7;" id="s2">Enter your details below</h3>
      <br>
    </div>
    <form action="/auth/Reset-password" method="POST">
      <input type="text" name="Mobile" placeholder="" class="textbox">
      <label style="color: #fff;" class="form-label">
        Mobile no
      </label>
      <br>
      <br>
      <br>
      <input type="password" name="password" placeholder="" class="textbo">
      <label style="color: #fff;" class="form-labe">
       Reset Password
      </label>
      <br>
     <br><br>
    <button type="sumbit" class="otp">Reset Password</button>
    </form>
    </div>
    </div>
</body>
</html>