<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tiffin services</title>
    <link rel="stylesheet" href="/styles/index-logout.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<script>
    window.onscroll=function(){scrollFunction()};
    function scrollFunction(){
        if(document.body.scrollTop>30||document.documentElement.scrollTop>30){
            document.getElementById('navbar').style.height="70px";
            document.getElementById('size').style.height="70px";
            document.getElementById('LOGOa').style.fontSize="32px";
        }
        else{
            document.getElementById('navbar').style.height="90px";
            document.getElementById('size').style.height="90px";
            document.getElementById('LOGOa').style.fontSize="35px";
        }
    }
</script>
<body>
    <header>
        <nav id="navbar" class="nav-bar">
                <ul id="size" class="nav-bar-ul">
                    <li id="LOGO"><a id="LOGOa" href="/index-logout">Tiffinwala</a></li>
                    <li class="nav-bar-li"><div id="Joinus"><a  class="nav-bar-li-a" href="#">JOIN US</a></div></li>
                    <li class="nav-bar-li"><div id="login"><a  class="nav-bar-li-a" href="/">LOGOUT</a></div></li>        
                    <li class="nav-bar-li"><div id="aboutus"><a class="nav-bar-li-a" href="/aboutus">ABOUT US</a></div></li>
                </ul>
            </nav>
        </header>
        <div class="starting-section">
            <div class="starting-section-container">
                <div class="lunch-box"><img id="lunchboximg" src="/images/food-basket1.png">
                </div>
                <p style="font-size: 50px; font-weight: 600; margin-top: 130px; margin-left: 36%;">Tiffin Services</p> 
                <div class="btn-1">
                    <button class="btn-1-home" id="btn-join">JOIN US <span style="padding-left:5px;">&#x27f6</span></button><a href="/pages/explore.html"><button id="btn-explore" class="btn-1-home" >Explore<span style="padding-left:5px;">&#x27f6</span></button></a>
            </div>
            </div>
        </div>
        <div class="section-2">
            <div class="explore">
                <h1>Explore Tiffin Services</h1>
            </div>
                <div class="list-container">
                    <div class="scroll">
                        <div class="list-section">
                        
                    </div>
                        
                    </div>
                </div>
                <div class="our-happycustomer">
                    <div class="content">

                    </div>
                </div>
            <footer>
                <div class="footer-home" style="margin-top:10%;display:flex">
                    <div class="phone-email">

                    <div class="icon-1" style="margin-left:10px;font-size:30px;color:white;padding-top:30px;">
                        <i class="fa fa-phone"></i>
                        <label>+91 9245678913</label>
                        </div>
                        <br>
                        <div class="icon-2" style="margin-left:10px;font-size:30px;color:white;">
                            <i class="fa fa-envelope"></i>
                            <label>abc@gmail.com</label>
                    </div>
                        </div>
                        <div class="phone-email" style="margin-left:200px;">

                    <div class="icon-1" style="width:450px;margin-left:0px;font-size:30px;color:white;padding-top:30px;">
                        <p align="center" style="position:relative;right:110px">Find healthy and Convenient food near you</p>
                    </div>
                    

                        </div>
                             <div class="phone-email1">

                    <div class="icon-3" style="font-size: 30px;color:white">
                        <i id="icon1" class="fa fa-instagram"></i>
                        <i id="icon2" class="fa fa-facebook"></i>
                        <i id="icon3" class="fa fa-google"></i>
                        <i id="icon4" class="fa fa-github"></i>
                        <i id="icon5" class="fa fa-twitter"></i>
                        </div>
                        </div>
                        </div>
                <div class="footer-copyright">
                    <p style="color:white; text-align: center; padding: 10px;">Copyright <span>&#169</span>2023</p>
                </div>
            </footer>
            <script src="/index.js"></script>
        </body>
        </html>